    {% include 'header.html' %}
<center>
    <br>
    <hr>
    <img src="{{object.image.url}}" alt="" width="290" height="410">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{object.quantity}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{object.price}} сом</h6>
    <p class="card-text">{{object.description}}</p>
    <p class="card-link">{{object.description}}</p>
    <p href="#" class="card-link">{{object.genre}}</p>
      {% if average_rating %}
    <p>Средний рейтинг: {{ average_rating }}</p>
    {% else %}
    <p>Для этой книги ещё нет рейтинга.</p>
{% endif %}
      <button><a href="/showbook/{{object.id}}/update">Изменить данные</a></button>
      <button><a href="/showbook/{{object.id}}/delete">Удалить книгу</a></button>
  </div>
</div>
    <br>
    <hr>
    <iframe src="{{object.video}}" frameborder="0" width="800" height="640"></iframe>

    <form action="/add-comment/" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="add">
    </form>


    <table border="2">
        <tr>
            <th>Дата Рейтинга</th> <th>Оценка</th>
        </tr>
        {% for j in object.comment_object.all %}
        <tr>
            <td><h3>{{j.created_date}}</h3></td> <td><h3>{{j.rate}}</h3></td>
        </tr>
        {% endfor %}
</center>
>

{% include 'footer.html' %}